@model PasswordResetModel

<html lang="cs">
<body>
    <h1>Obnova hesla</h1>
    <p>Obdrželi jsme žádost o obnovení hesla.</p>
    <p>Pokud jste to byli vy, klikněte na následující odkaz:</p>
    <a href="@Model.ResetLink">Obnovit heslo</a>
</body>
</html>
