@model ReservationReminderModel

<html lang="cs">
<body>
    <h1>Připomínka rezervace</h1>
    <p>Připomínáme vám, že vaše rezervace začíná za 1 hodinu.</p>
    <p>Datum rezervace: <strong>@Model.ReservationDate</strong></p>
</body>
</html>
