@model ReservationCreatedModel

<html lang="cs">
<body>
    <h1>Potvrzení rezervace</h1>
    <p>Vaše rezervace byla úspěšně vytvořena.</p>
    <p>Datum rezervace: <strong>@Model.ReservationDate</strong></p>
</body>
</html>
