@model ReservationCanceledModel

<html lang="cs">
<body>
    <h1>Zrušení rezervace</h1>
    <p>Vaše rezervace byla zrušena.</p>
    <p>Datum rezervace: <strong>@Model.ReservationDate</strong></p>
</body>
</html>
