@model VerifyEmailModel

<html lang="cs">
<body>
    <h1>Ověření e-mailu</h1>
    <p>Pro ověření vaší e-mailové adresy klikněte na následující odkaz:</p>
    <a href="@Model.VerificationLink">Ověřit e-mail</a>
    <p>Pokud jste tento požadavek nevytvořili, můžete tento e-mail ignorovat.</p>
</body>
</html>
